@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    overflow: hidden;
    font-size: 30px;
}

body {
	background: rgb(206, 181, 181);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.img-gerador{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 500px;
    height: 500px;
}